<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Localização</th>
    </tr>
  </thead>
  <tbody *ngIf="trekkings; else loading">
    <tr *ngFor="let trekking of trekkings">
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" disabled checked>
        </div>
      </td>
      <td>{{trekking.name}}</td>
      <td>{{trekking.city.value}} - {{trekking.state.value}}</td>
    </tr>
  </tbody>
  <ng-template #loading>
    <app-loading class="d-block mt-3"></app-loading>
  </ng-template>
</table>
