<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Localização</th>
    </tr>
  </thead>
  <tbody *ngIf="trekkings; else loading">
    <ng-container [formGroup]="form">
      <ng-container formArrayName="trekkings">
        <tr *ngFor="let trekking of trekkings; let i = index">
          <td>
            <div class="form-check" *ngIf="form.value.trekkings?.at(i); else formNotSetted" [formGroupName]="i">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="value"
              />
            </div>
            <ng-template #formNotSetted>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                />
              </div>
            </ng-template>
          </td>
          <td>{{ trekking.name }}</td>
          <td>{{ trekking.city.value }} - {{ trekking.state.value }}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
  <ng-template #loading>
    <app-loading class="d-block mt-3"></app-loading>
  </ng-template>
</table>
