<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Percurso</th>
      <!-- <th>Ação</th> -->
    </tr>
  </thead>
  <tbody *ngIf="trekkings; else loading">
    <tr
      *ngFor="let trekking of trekkings"
      (click)="onTrekkingSelect(trekking)"
    >
      <td>{{ trekking.name }}</td>
      <td>{{ trekking.start }} - {{ trekking.end }}</td>
      <!-- <td>
        <button class="btn btn-danger btn-close"></button>
      </td> -->
    </tr>
  </tbody>
  <ng-template #loading>
    <app-loading class="d-block mt-3"></app-loading>
  </ng-template>
</table>
