<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Data</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngIf="groups; else loading">
    <tr class="cursor-pointer" *ngFor="let group of groups; let i = index">
      <td>{{ group.name }}</td>
      <td>{{ group.date | date : "dd/LL/YY" }}</td>
      <td>
        <span class="badge" [class]="groupStatusClass[group.groupStatus.id]">{{
          groupStatusLabel[group.groupStatus.id]
        }}</span>
      </td>
    </tr>
  </tbody>
  <ng-template #loading>
    <app-loading class="d-block mt-3"></app-loading>
  </ng-template>
</table>
