<form [formGroup]="formFilter">
  <div class="form-group">
    <label for="inputState">Estado</label>
    <select
      class="custom-select"
      name="state"
      id="inputState"
      formControlName="state"
    >
      <option [value]="null" selected disabled>Selecione</option>
      <option
        *ngFor="let state of states$ | async"
        [value]="state.id"
      >
        {{ state.value }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="inputCity">Cidade</label>
    <select
      class="custom-select"
      name="city"
      id="inputCity"
      formControlName="city"
    >
      <option [value]="null" selected disabled>Selecione</option>
      <option
        *ngFor="let city of cities$ | async"
        [value]="city.id"
      >
        {{ city.value }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="duration" class="form-label">Duração do percurso (horas)</label>
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Minímo" formControlName="durationMin">
      <input type="number" class="form-control" placeholder="Máximo" formControlName="durationMax">
    </div>
  </div>

  <div class="form-group d-flex flex-column">
    <label for="duration" class="form-label">Nível de dificuldade</label>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <button class="btn" [ngClass]="formControls.difficultLevel.value === difficultLevelEnum.Easy ? 'btn-primary' : 'btn-outline-primary'" for="difficultLevelEasy" (click)="onSelectLevel(difficultLevelEnum.Easy)">Fácil</button>
      <input type="radio" class="btn-check d-none" name="difficultLevel" id="difficultLevelEasy" autocomplete="off" [checked]="formControls.difficultLevel.value === difficultLevelEnum.Easy">

      <input type="radio" class="btn-check d-none" name="difficultLevel" id="difficultLevelModerate" autocomplete="off" [checked]="formControls.difficultLevel.value === difficultLevelEnum.Moderate">
      <button class="btn" [ngClass]="formControls.difficultLevel.value === difficultLevelEnum.Moderate ? ' btn-primary' : ' btn-outline-primary'" for="difficultLevelModerate" (click)="onSelectLevel(difficultLevelEnum.Moderate)">Moderado</button>

      <input type="radio" class="btn-check d-none" name="difficultLevel" id="difficultLevelDifficult" autocomplete="off" [checked]="formControls.difficultLevel.value === difficultLevelEnum.Difficult">
      <button class="btn btn-outline-primary" [ngClass]="formControls.difficultLevel.value === difficultLevelEnum.Difficult ? ' btn-primary' : ' btn-outline-primary'" for="difficultLevelDifficult" (click)="onSelectLevel(difficultLevelEnum.Difficult)">Difícil</button>

      <input type="radio" class="btn-check d-none" name="difficultLevel" id="difficultLevelAll" autocomplete="off" [checked]="formControls.difficultLevel.value">
      <button class="btn btn-outline-primary" [ngClass]="!formControls.difficultLevel.value ? ' btn-primary' : ' btn-outline-primary'" for="difficultLevelAll" (click)="onSelectLevel(null)">Todos</button>
    </div>
  </div>

  <button class="btn btn-primary btn-block" (click)="onFilter()">Filtrar</button>
</form>
