<ng-container *ngIf="isMobile$ | async; else desktopRegister">
  <div class="h-10 d-flex flex-column">
    <h5>Adicionar trekking</h5>
    <ng-container *ngTemplateOutlet="mobileRegister"></ng-container>
  </div>
</ng-container>

<ng-template #mobileRegister>
  <form class="d-block h-100" (submit)="onSubmit($event)">
    <div class="d-flex flex-column justify-content-between h-100">
      <ng-container *ngTemplateOutlet="addTrekking"></ng-container>
      <button type="submit" class="btn btn-primary btn-block" [ngClass]="{'disabled': (isSalving$ | async)}" [attr.aria-disabled]="(isSalving$ | async)">
        {{ (isSalving$ | async) ? "Adicionando..." : "Adicionar" }}
      </button>
    </div>
  </form>
</ng-template>

<ng-template #addTrekking>
  <div [formGroup]="form">
    <div class="form-group">
      <label for="inputTrekkingName">Nome</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && controls.name.errors }"
        id="inputTrekkingName"
        formControlName="name"
      />
      <div *ngIf="submitted && controls.name.errors" class="invalid-feedback">
        <div *ngIf="controls.name.errors['required']">Campo obrigatório</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputStart">Origem</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && controls.start.errors }"
        id="inputStart"
        formControlName="start"
      />
      <div *ngIf="submitted && controls.start.errors" class="invalid-feedback">
        <div *ngIf="controls.start.errors['required']">Campo obrigatório</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEnd">Destino</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && controls.end.errors }"
        id="inputEnd"
        formControlName="end"
      />
      <div *ngIf="submitted && controls.end.errors" class="invalid-feedback">
        <div *ngIf="controls.end.errors['required']">Campo obrigatório</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputState">Estado</label>
      <select
        class="custom-select"
        name="state"
        id="inputState"
        formControlName="state"
        [ngClass]="{ 'is-invalid': submitted && controls.state.errors }"
        [ngClass]="{ 'is-invalid': submitted && controls.state.errors }"
      >
        <option value="0" selected disabled>Selecione</option>
        <option *ngFor="let state of states$ | async" [value]="state.id">
          {{ state.value }}
        </option>
      </select>
      <div *ngIf="submitted && controls.state.errors" class="invalid-feedback">
        <div *ngIf="controls.state.errors['required']">Campo obrigatório</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputCity">Cidade</label>
      <select
        class="custom-select"
        name="city"
        id="inputCity"
        formControlName="city"
        [ngClass]="{ 'is-invalid': submitted && controls.city.errors }"
      >
        <option value="0" selected disabled>Selecione</option>
        <option *ngFor="let city of cities$ | async" [value]="city.id">
          {{ city.value }}
        </option>
      </select>
      <div *ngIf="submitted && controls.city.errors" class="invalid-feedback">
        <div *ngIf="controls.city.errors['required']">Campo obrigatório</div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDistance" class="form-label">Distância em metros</label>
      <input
        type="number"
        class="form-control"
        id="inputDistance"
        formControlName="distanceInMeters"
        [ngClass]="{ 'is-invalid': submitted && controls.distanceInMeters.errors }"
      />
      <div
        *ngIf="submitted && controls.distanceInMeters.errors"
        class="invalid-feedback"
      >
        <div *ngIf="controls.distanceInMeters.errors['required']">
          Campo obrigatório
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDuration" class="form-label">Duração em horas</label>
      <input
        type="number"
        class="form-control"
        id="inputDuration"
        formControlName="durationInHours"
        [ngClass]="{ 'is-invalid': submitted && controls.durationInHours.errors }"
      />
      <div
        *ngIf="submitted && controls.durationInHours.errors"
        class="invalid-feedback"
      >
        <div *ngIf="controls.durationInHours.errors['required']">
          Campo obrigatório
        </div>
      </div>
    </div>

    <div class="form-group d-flex flex-column">
      <label for="duration" class="form-label">Nível de dificuldade</label>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <button
          class="btn"
          [ngClass]="
            controls.difficultLevel.value === difficultLevelEnum.Easy
              ? 'btn-primary'
              : 'btn-outline-primary'
          "
          for="difficultLevelEasy"
          (click)="onSelectLevel(difficultLevelEnum.Easy, $event)"
        >
          Fácil
        </button>
        <input
          type="radio"
          class="btn-check d-none"
          name="difficultLevel"
          id="difficultLevelEasy"
          autocomplete="off"
          [checked]="controls.difficultLevel.value === difficultLevelEnum.Easy"
        />

        <input
          type="radio"
          class="btn-check d-none"
          name="difficultLevel"
          id="difficultLevelModerate"
          autocomplete="off"
          [checked]="
            controls.difficultLevel.value === difficultLevelEnum.Moderate
          "
        />
        <button
          class="btn"
          [ngClass]="
            controls.difficultLevel.value === difficultLevelEnum.Moderate
              ? ' btn-primary'
              : ' btn-outline-primary'
          "
          for="difficultLevelModerate"
          (click)="onSelectLevel(difficultLevelEnum.Moderate, $event)"
        >
          Moderado
        </button>

        <input
          type="radio"
          class="btn-check d-none"
          name="difficultLevel"
          id="difficultLevelDifficult"
          autocomplete="off"
          [checked]="
            controls.difficultLevel.value === difficultLevelEnum.Difficult
          "
        />
        <button
          class="btn btn-outline-primary"
          [ngClass]="
            controls.difficultLevel.value === difficultLevelEnum.Difficult
              ? ' btn-primary'
              : ' btn-outline-primary'
          "
          for="difficultLevelDifficult"
          (click)="onSelectLevel(difficultLevelEnum.Difficult, $event)"
        >
          Difícil
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDuration" class="form-label">Descrição</label>
      <ng-container formArrayName="descriptions">
        <ng-container
          *ngFor="
            let description of descriptions.controls;
            let i = index;
            let isFirst = first
          "
        >
          <div [formGroupName]="i" [class]="{ 'mt-3': !isFirst }">
            <textarea class="form-control" formControlName="value"></textarea>
          </div>
        </ng-container>
      </ng-container>
      <button
        *ngIf="descriptions.controls.length > 1"
        (click)="deleteDescription($event)"
        class="btn btn-outline-danger btn-block mt-3"
      >
        Remover
      </button>
      <button
        (click)="addDescription($event)"
        class="btn btn-outline-primary btn-block mt-3"
      >
        Adicionar
      </button>
    </div>

    <div class="form-group">
      <label for="inputDuration" class="form-label">Fotos</label>
      <input
        class="form-control"
        type="file"
        multiple="multiple"
        (change)="uploadImages($event)"
        #inpuFile
      />
      <div class="d-flex flex-row overflow-auto mt-2">
        <app-image-preview *ngFor="let image of images$ | async" [image]="image" class="d-block mr-2" (remove)="onRemove(image)"></app-image-preview>
        <div class="d-flex justify-content-center align-items-center">
          <app-loading *ngIf="imagesLoading$ | async"></app-loading>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Preço por intervalo de data</label>
      <ng-container formArrayName="prices">
        <ng-container
          *ngFor="
            let price of prices.controls;
            let i = index;
            let isFirst = first
          "
        >
          <div [formGroupName]="i" [class]="{ 'mt-3': !isFirst }">
            <div class="form-group">
              <div class="input-group">
                <input
                  type="date"
                  class="form-control"
                  placeholder="Data inicial"
                  formControlName="startDate"
                />
                <input
                  type="date"
                  class="form-control"
                  placeholder="Data final"
                  formControlName="endDate"
                />
              </div>
            </div>

            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">R$</span>
              <input
                type="number"
                class="form-control"
                formControlName="price"
              />
            </div>
          </div>
        </ng-container>
      </ng-container>
      <button
        *ngIf="prices.controls.length > 1"
        (click)="deletePrice($event)"
        class="btn btn-outline-danger btn-block mt-3"
      >
        Remover
      </button>
      <button
        (click)="addPrice($event)"
        class="btn btn-outline-primary btn-block mt-3"
      >
        Adicionar
      </button>
    </div>

    <div class="form-group">
      <label class="form-label">Quantidade de pessoas</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="Mínimo"
          formControlName="minPeople"
        />
        <input
          type="number"
          class="form-control"
          placeholder="Máximo"
          formControlName="maxPeople"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="inputDaysFormGroup" class="form-label"
        >Dias para formar grupo</label
      >
      <input
        type="number"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && controls.daysFormGroup.errors }"
        id="inputDaysFormGroup"
        formControlName="daysFormGroup"
      />
      <div
        *ngIf="submitted && controls.daysFormGroup.errors"
        class="invalid-feedback"
      >
        <div *ngIf="controls.daysFormGroup.errors['required']">
          Campo obrigatório
        </div>
      </div>
      <div class="form-text fs-6 fw-light">
        Informe quantos dias de antecedência à data do trekking, o grupo deverá
        ser formado.
      </div>
    </div>

    <div class="form-group">
      <label for="inputDaysCompletePayment" class="form-label"
        >Dias para pagamento completo</label
      >
      <input
        type="number"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && controls.daysCompletePayment.errors
        }"
        id="inputDaysCompletePayment"
        formControlName="daysCompletePayment"
      />
      <div
        *ngIf="submitted && controls.daysCompletePayment.errors"
        class="invalid-feedback"
      >
        <div *ngIf="controls.daysCompletePayment.errors['required']">
          Campo obrigatório
        </div>
      </div>
      <div class="form-text fs-6 fw-light">
        Informe quantos dias de antecedência à data do trekking, o turista
        deverá pagar 100% do valor.
      </div>
    </div>
  </div>
</ng-template>

<ng-template #desktopRegister>
  <div class="p-5 d-flex flex-column justify-content-start align-items-start">
    <div class="shadow p-5 bg-white rounded form-box mx-auto">
      <h5 class="mb-3">Adicionar trekking</h5>
      <form (submit)="onSubmit($event)">
        <ng-container *ngTemplateOutlet="addTrekking"></ng-container>
        <button type="submit" class="btn btn-primary btn-block" [ngClass]="{'disabled': (isSalving$ | async)}" [attr.aria-disabled]="(isSalving$ | async)">
          {{ (isSalving$ | async) ? "Adicionando..." : "Adicionar" }}
        </button>
      </form>
    </div>
  </div>
</ng-template>
